<h1>
	Ember Pretty URLs & Categories
</h1>

<p>Search test cases</p>

<ul>
	<li>
		{{#link-to 'search' }}Search{{/link-to}}
	</li>

	<li>
		{{#link-to 'search' 'vanzare--apartamente' }}Search apartamente de vanzare{{/link-to}}
	</li>

	<li>
		{{#link-to 'search' 'vanzare--apartamente--cluj-napoca' }}Search apartamente de vanzare in Cluj-Napoca{{/link-to}}
	</li>

	<li>
		{{#link-to 'search' 'vanzare--apartamente--cluj-napoca--marasti' }}Search apartamente de vanzare in Cluj-Napoca zona Marasti{{/link-to}}
	</li>

	<li>
		{{#link-to 'search' 'vanzare--apartamente--cluj-napoca--marasti--2-camere' }}Search apartamente cu 2 camere de vanzare in Cluj-Napoca zona Marasti{{/link-to}}	
	</li>
</ul>

<hr>

<p>Special / edge cases</p>

<ul>
	<li>
		{{#link-to 'search' 'cluj-napoca'  }}Search orice in Cluj-Napoca{{/link-to}}
	</li>
</ul>
