<h1>
	Dummy app
</h1>

{{#link-to 'search' }}Search{{/link-to}}
{{#link-to 'search-city' 'cluj-napoca' }}Search in Cluj-Napoca{{/link-to}}
{{#link-to 'search-type' 'apartamente' }}Search in Apartments{{/link-to}}