<h1>This is search</h1>

{{ search-component 
	transaction_type=transaction_type
	property_type=property_type
	city_slug=city_slug
	zone_slug=zone_slug }}

<ul>
  {{#each model as |p|}}
    <li>
    	{{#link-to 'details' p.slug p.id }}
    		ID{{ p.id }}, <strong>{{ p.title }}</strong>
    	{{/link-to}}
    </li>
  {{/each}}
</ul>

<hr>

Bonus tests:

{{#link-to 'search' 'cluj-napoca'  }}Search in Cluj-Napoca{{/link-to}}