<h1>This is search</h1>

<h2>Search Filters</h2>
{{ search-component 
	search="updateResults"
	transaction_type=transaction_type
	property_type=property_type
	city_slug=city_slug
	zone_slug=zone_slug
	rooms=rooms
  selectable=selectable
  selectableValues=selectableValues }}

<ul>
  {{#each model as |p|}}
    <li>
    	{{#link-to 'details' p.slug p.id }}
    		ID{{ p.id }}, <strong>{{ p.title }}</strong>
    	{{/link-to}}
    </li>
  {{/each}}
</ul>